{% extends "base.html" %}
{% load static %}
{% block title %} Write Diary {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'calendar/css/calendar.css' %}">
{% endblock stylesheets %}
{% block content %}


  {% include 'navigation.html' %}

    <header class="header-2">
        <div class="page-header min-vh-75 relative" style="background-image: url('https://images.unsplash.com/photo-1554757387-2a28855c78fb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471')">
          <span class="mask bg-gradient-dark opacity-4"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 text-center mx-auto">
                <h1 class="text-white pt-3 mt-n5">Sentiment Calendar</h1>
                <p class="lead text-white mt-3">Check changes of your feelings <br /> 달력에서 일별 감정의 변화를 확인해보세요 </p>
              </div>
            </div>
          </div>
        </div>
    </header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
  {% for message in messages %}
  <div class="container justify-content: center">
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <span class="alert-text"><strong>Warning!</strong> {{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
  {% endfor %}
    <div class="container">
      <div class="calendar">
        <div class="header">
          <div class="year-month"></div>
          <div class="nav">
              <button class="btn btn-icon btn-sm btn-dark" onclick="prevMonth(); return false;">
                <span class="btn-inner--icon">
                <span class="material-symbols-outlined">arrow_back_ios</span>
                </span>
              </button>
              <button  class="btn btn-secondary btn-sm" onclick="goToday(); return false;">Today</button>
              <button class="btn btn-icon btn-sm btn-dark" onclick="nextMonth(); return false;">
                <span class="btn-inner--icon">
                <span class="material-symbols-outlined">arrow_forward_ios</span>
                </span>
              </button>
          </div>
        </div>
        <div class="main">
          <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
          </div>
          <div class="dates"></div>
        </div>
      </div>
    </div>
</div>

<script>
   let diaries = [
        {% for diary in diary_list %}
          {
             real_date: "{{ diary.real_date|date:'Y-m-d' }}",
             content: "{{ diary.content }}",
             color: "{{ diary.color }}",
             emoji: "{{ diary.emoji.url }}",
          },
        {% endfor %}
    ]
    let date = new Date();

  const renderCalender = () => {
    const viewYear = date.getFullYear();
    const viewMonth = date.getMonth();
    const monthNameLong = date.toLocaleString("en-US", { month: "long" });
    document.querySelector('.year-month').textContent = `${viewYear} ${monthNameLong}`;

    const prevLast = new Date(viewYear, viewMonth, 0);
    const thisLast = new Date(viewYear, viewMonth + 1, 0);

    const PLDate = prevLast.getDate();
    const PLDay = prevLast.getDay();

    const TLDate = thisLast.getDate();
    const TLDay = thisLast.getDay();

    const prevDates = [];
    const thisDates = [...Array(TLDate + 1).keys()].slice(1);
    const nextDates = [];

    if (PLDay !== 6) {
      for (let i = 0; i < PLDay + 1; i++) {
        prevDates.unshift(PLDate - i);
      }
    }

    for (let i = 1; i < 7 - TLDay; i++) {
      nextDates.push(i);
    }

    const dates = prevDates.concat(thisDates, nextDates);
    const firstDateIndex = dates.indexOf(1);
    const lastDateIndex = dates.lastIndexOf(TLDate);

    dates.forEach((date, i) => {

      const condition = i >= firstDateIndex && i < lastDateIndex + 1
                        ? 'this'
                        : 'other';
      var color = ''
      var emoji = ''
      for(let j=0; j<diaries.length;j++){

        if(new Date(diaries[j]['real_date']).getDate() == date
          && new Date(diaries[j]['real_date']).getFullYear() == viewYear
          && new Date(diaries[j]['real_date']).getMonth() == (viewMonth)){
          color = diaries[j]['color'] ;
          emoji = '<div style="text-align:center; display:absoulte; height:0;"><img src="'+diaries[j]['emoji']+'"style ="width:3rem;"></div>'
          console.log(color);
        };
      };
      dates[i] =
      `<div class="date" style="border:10px solid #${color};">
        <span class=${condition}>${date}</span>
        ${emoji}
      </div>`;
    });

    document.querySelector('.dates').innerHTML = dates.join('');

    const today = new Date();
    if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
      for (let date of document.querySelectorAll('.this')) {
        if (+date.innerText === today.getDate()) {
          date.classList.add('today');
          break;
        }
      }
    }
  };

  renderCalender();

  const prevMonth = () => {
    date.setDate(1);
    date.setMonth(date.getMonth() - 1);
    renderCalender();
  }

  const nextMonth = () => {
    date.setDate(1);
    date.setMonth(date.getMonth() + 1);
    renderCalender();
  }

  const goToday = () => {
    date = new Date();
    renderCalender();
  };
</script>
{% endblock content %}

