{% extends "base.html" %}
{% load static %}

{% block title %} Write Diary {% endblock %}

{% block content %}

  {% include 'navigation.html' %}

    <header class="header-2">
        <div class="page-header min-vh-75 relative" style="background-image: url('https://images.unsplash.com/photo-1554757387-2a28855c78fb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471')">
          <span class="mask bg-gradient-dark opacity-4"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 text-center mx-auto">
                <h1 class="text-white pt-3 mt-n5">The day`s diary</h1>
                <p class="lead text-white mt-3">record of the day<br>{{ target_diary.created_at }}의 기록 </p>
              </div>
            </div>
          </div>
        </div>
    </header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
  <div style="margin-bottom: 1rem;">
    <div class="container" style="margin: 4rem auto">
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm" style = "text-align: center; max-width: 15%;">
              <a class="d-block blur-shadow-image" style="width: 100%; border-radius:1rem;">
                <img src="{% static '/assets/img/unicorn_happy.png' %}" style='width:45px'>
              </a>
            </div>
            <div class="col-sm" style = "display: flex; align-items: center;">
              <h3 style='margin:0' >
                {{ target_diary.created_at }}
              </h3>
            </div>
            <div class="col-sm" style = "max-width: 15%;">
              {% if target_diary.image %}
              <input type="color" id="head" name="head"
                    value="#{{ target_diary.color }}" style='width: 45px; height: 45px; border-width: 0px;'>
              {% else %}
              <input type="color" id="head" name="head"
                    value="#FFFFFF" style='width: 45px; height: 45px; border-width: 0px;'>
              {% endif %}
            </div>
          </div>
          <hr>
          <div style="margin-bottom: 2rem; text-align: left;">
              {{ target_diary.content | safe }}
          </div>
        </div>
        <div class="col-sm">
          {% if target_diary.image %}
          <img src="{{ target_diary.image.url}}", alt="" style="text-align:center; max-width: 100%; border-radius: 1rem; margin-bottom:2rem; object-fit:cover;">
          {% else %}
          <img src="https://images.unsplash.com/photo-1554757387-2a28855c78fb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471", alt=""
          style="max-width: 100%; height:auto; border-radius:1rem; ">
          {% endif %}
        </div>
      </div>
    </div>
    <hr>
    <div style='float:right; margin-right: 5%; margin-botton: 50px;'>
      {% if target_diary.writer == request.user %}
          <a href="{% url 'diaries:list' %}" class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="List">
            <i class="material-icons text-lg">list</i>
          </a>
          <a href="{% url 'diaries:update' pk=target_diary.pk %}" class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit">
            <i class="material-icons text-lg">edit</i>
          </a>
          <a href='#' class="btn btn-link text-primary ms-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete">
            <i class="material-icons text-lg">delete</i>
          </a>
      {% endif %}
    </div>
  </div>
</div>


<script src='{% static "/assets/js/core/popper.min.js" %}' type="text/javascript"></script>
<script src='{% static "/assets/js/core/bootstrap.min.js" %}' type="text/javascript"></script>
<script src='{% static "/assets/js/material-kit.min.js" %}' type="text/javascript"></script>
{% endblock content %}
